<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a  class="navbar-right">{{user}}<img style="max-height:50px; margin-right:5px" src="../assets/villa.jpg"></a>
    <div class="navbar-header">
      <a class="navbar-brand"  style="color:blue">Eston Villa</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/adminstart">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Valikud<span class="caret">
      </span></a>
        <ul class="dropdown-menu">
          <nav>
               <li><a routerLink="/adminstart" routerLinkActive="active">Start</a></li>
               <li><a routerLink="/panksisse" >Pank Sisse</a></li>
             </nav>
        </ul>
      </li>
    </ul>
  </div>
</nav>
