.alert-success {
    text-align: center;
    color: blue;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
#lisa-uus-button {
  align-item: center;
}
.btn {
    align-item: center;
}
